{% extends 'admin.html.twig' %}

{% block title %}formation index
{% endblock %}
{% block component %}
	<link rel="stylesheet" href="{{ asset("css/Card/style.css") }}"/>
{% endblock %}

{% block body %}

	<div class="org-table-container" style="">

		<div class="org-table-head-container">
			<div class="">
				<h4>Nombre Total des utilisateurs:
					{{ usersList|length }}
				</h4>

			</div>

		</div>
		<div class="row">

			<div class="col-sm-12 col-md-12 col-lg-8"></div>


			<!-- LEES FIIIILLLLLTERSSSSSSSSSSS -->
			<div class="col-sm-12 col-md-12 col-lg-4">
				<aside class="sidebar has-marign-left sticky-top">
					<div class="widget widget-services">
						<h5 class="widget__title">Consulter :</h5>
						<div class="widget-content">
							<ul class="list-unstyled mb-0">
								<li>
									<a href="">
										<span>Statistiques Utilisateurs Helpex</span>
										<i class="icon-arrow-right"></i>
									</a>
								</li>
								<li>
									<a href="{{ path('CliUsers')}}">
										<span>Les Utilisateurs Helpex</span>
										<i class="icon-arrow-right"></i>
									</a>
								</li>
								<li>
									<a href="{{ path('backProUsers')}}">
										<span>Les Utilisateurs Helpex Pro</span>
										<i class="icon-arrow-right"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<span>Helpex Infermiers</span>
										<i class="icon-arrow-right"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<span>Helpex Kinés</span>
										<i class="icon-arrow-right"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<span>Helpex Aide Soignants</span>
										<i class="icon-arrow-right"></i>
									</a>
								</li>

							</ul>
						</div>
						<!-- /.widget-content -->
					</div>

				</aside>
				<!-- /.sidebar -->
			</div>

		</div>

	</div>
{% endblock %}
